<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <title>Visma Pay Java Library Example</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"></link>
    <link th:href="@{/styles/css/style.css}" rel="stylesheet"></link>
</head>
<body>
<div class="container">
    <th:block th:if="${paymentReturn != null}">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert">
                    <span th:text="${paymentReturn} + ', '"></span>
                    <a target="_top" href="/">start again</a>
                </div>
            </div>
        </div>
    </th:block>

    <div class="row" id="mainpage">
        <div class="col-md-12">
            <h1>Visma Pay Java Library Example</h1>
            <div class="card-payment-result text-muted"></div>
            <hr></hr>
            <h2>Pay by button</h2>

            <th:block th:each="pm : ${merchantPaymentMethods}">
                <a class="img" th:href="'/auth-payment?selected=' + ${pm.selectedValue}">
                    <img th:alt="${pm.name}" th:src="${pm.img}"></img>
                </a>
            </th:block>

            <hr></hr>

            <h2>Go to pay page</h2>
            <a class="btn btn-default" href="/auth-payment">Go to pay page</a>
        </div>
    </div>
</div>
</body>
</html>